{% extends 'finance/base.html' %}

{% load staticfiles %}

{% block title %}Finance | eKalay{% endblock %}
{% block links %}

<!-- DataTables CSS -->
<link href="{% static "finance/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.css" %}" rel="stylesheet">

<!-- DataTables Responsive CSS -->
<link href="{% static "finance/bootstrap/vendor/datatables-responsive/dataTables.responsive.css" %}" rel="stylesheet">

{% endblock %}

<div class='container-fluid'>

{% block body %}

    <div class="row col-lg-12 panel-body">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active"><a href="#chart" data-toggle="tab">Chart of Accounts</a>
            </li>
            <li><a href="#add" data-toggle="tab">Add Account</a>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">

            <!-- Chart Tab -->
            <div class="tab-pane fade in active" id="chart">
                <div class="col-lg-12 panel panel-body">
                    {% include 'finance/chart.html' %}
                </div>
            </div>
            
            <!-- Add Tab -->
            <div class="tab-pane fade" id="add">
                <div class="col-lg-12 panel panel-body">
                    {% include 'finance/form-template.html' %}
                </div>
            </div>

        </div>
        <!-- /.tab -->

    </div>
    <!-- /.row col-lg-12 -->

{% endblock %}

</div>
<!-- /.container-fluid -->

{% block scripts %}

<!-- Latest Tab JavaScript -->
<script>
$(function() { 
    // for bootstrap 3 use 'shown.bs.tab', for bootstrap 2 use 'shown' in the next line
    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        // save the latest tab; use cookies if you like 'em better:
        localStorage.setItem('lastTab', $(this).attr('href'));
    });
    // go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
        $('[href="' + lastTab + '"]').tab('show');
    }
});
</script>

<!-- DataTables JavaScript -->
<script src="{% static "finance/bootstrap/vendor/datatables/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "finance/bootstrap/vendor/datatables-plugins/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static "finance/bootstrap/vendor/datatables-responsive/dataTables.responsive.js" %}"></script>

<script>
$(document).ready(function() {
    $('#dataTables-in').DataTable({
        responsive: true
    });
});
</script>

<script>
$(document).ready(function() {
    $('#dataTables-out').DataTable({
        responsive: true
    });
});
</script>

<script>
$(document).ready(function() {
    $('#dataTables-chart').DataTable({
        responsive: true
    });
});
</script>

{% endblock %}
