{% load humanize %}
{% load mathfilters %}
{% load filters %}

<table width="100%" class="table table-striped table-hover" id="dataTables-out">
  <thead>
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Reference</th>
      <th>Account Title</th>
      <th>Payee's Name</th>
      <!--<th>Purpose</th>-->
      <th>Amount</th>
      <th>Document</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for outflow in all_outflows %}
      <tr>
        <td>{{ outflow.date }}</td>
        <td>{{ outflow.flow_type }}</td>
        <td>
          <p class="text-center">{{ outflow.ref_num.ref_num }}</p>
        </td>
        <td>{{ outflow.account_title }}</td>
        <td>{{ outflow.payee }}</td>
        <!--<td>{{ outflow.purpose }}</td>-->
        <td>
          <p class="text-right">{{ outflow.amount|intcomma }}</p>
        </td>
        <td>{{ outflow.document }}</td>
        <td class="text-center">
          <a data-toggle="modal" data-target="#notesModal{{ outflow.pk }}" data-toggle="tooltip" data-placement="bottom" title="Details"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a> &nbsp;

          <div class="modal fade" id="notesModal{{ outflow.pk }}" tabindex="-1" role="dialog" aria-labelledby="#notesModalLabel{{ outflow.pk }}"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="notesModalLabel{{ outflow.pk }}">Notes and Remarks</h4>
                </div>
                <div class="modal-body text-left">
                  <h4>Purpose</h4>
                  <p style="text-indent: 0.5in">{{ outflow.purpose }}</p>
                  <hr/>
                  <h4>Notes</h4>
                  <p style="text-indent: 0.5in">
                    {% if outflow.notes %} {{ outflow.notes }} {% else %} None. {% endif %}
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          {% if request.user|has_group:'Finance' or user.is_superuser %}
          <a class="" href="{% url 'outflow-edit' pk=outflow.pk slug=outflow.slug %}" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="glyphicon glyphicon-pencil"></span></a> &nbsp;
          <a data-toggle="modal" data-target="#deleteModal{{ outflow.pk }}" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> &nbsp;

          <div class="modal fade" id="deleteModal{{ outflow.pk }}" tabindex="-1" role="dialog" aria-labelledby="#deleteModalLabel{{ outflow.pk }}"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="deleteModalLabel{{ outflow.pk }}">Notes and Remarks</h4>
                </div>
                <div class="modal-body text-left">
                  <div class="row panel-body">
                    <p>Are you sure you want to delete this outflow?</p>
                    <ul>
                    <li>Date: {{ outflow.date }}</li>
                    <li>Account: {{ outflow.ref_num }} {{ outflow.account_title }}</li>
                    <li>Payee's Name: {{ outflow.payee }}</li>
                    <li>Amount: PHP {{ outflow.amount|intcomma }}</li>
                    <li>Purpose: {{ outflow.purpose }}</li>
                    <li>Document: {{ outflow.document }}</li>
                    </ul>
                  </div>
                </div>
                <div class="modal-footer">
                  <form action="{% url 'outflow-delete' pk=outflow.pk slug=outflow.slug %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, delete.</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No, cancel.</button>
                  </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
