{% extends 'finance/base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load mathfilters %}
{% load crispy_forms_tags %}

{% block title %}Finance | eKalay{% endblock %}

{% block body %}

{% with net_flow=total_inflow|sub:total_outflow ending_cash=balance|addition:total_inflow|sub:total_outflow%}

<div class="col-sm-9 center-block" style="float:none;">

  <div class="row">
    <p class="text-center">
      <b> Kalayaan Residence Hall Association </b> <br/>
      Kalayaan Residence Hall House Council <br/>
      Statement of Cash Flows <br/>
      For the interim period ended {{ to }} <br/>
    </p>
  </div>

  <div class="row panel-body"></div>

  <div class="row col-sm-12"><b><p>Cash Inflows</p></b></div>

  {% for account_type in list_types %}
    {% if account_type.inflow > 0 %}
      <div class="col-sm-12" style="text-indent: 0.25in"><b>{{ account_type.type }}</b></div>
      {% for account in list_accounts %}
        {% if account.inflow > 0 and account.type == account_type.type %}
          <div class="row col-sm-12">
            <div class="col-sm-6" style="text-indent: 0.5in"><b>{{ account.num }}&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ account.title }}</div>
            <div class="col-sm-1 text-right">PHP</div>
            <div class="col-sm-2 text-right">{{ account.inflow|abs|intcomma}} </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-sm-9">
          <p style="text-indent: 1in">Total</p>
        </div>
        <div class="col-sm-1 text-right">PHP</div>
        <div class="col-sm-2 text-right">{{ account_type.inflow|abs|intcomma }}</div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="row"><b>
        <div class="col-sm-9"><p style="text-indent: 1in">Total Inflows</p></div>
        <div class="col-sm-1 text-right">PHP</div>
        <div class="col-sm-2 text-right">{{ total_inflow|abs|intcomma }}</div>
    </b></div>

  <div class="row col-sm-12"><b><p>Cash Outflows</p></b></div>

  {% for account_type in list_types %}
    {% if account_type.outflow > 0 %}
      <div class="col-sm-12" style="text-indent: 0.25in"><b>{{ account_type.type }}</b></div>
      {% for account in list_accounts %}
        {% if account.outflow > 0 and account.type == account_type.type %}
          <div class="row col-sm-12">
            <div class="col-sm-6" style="text-indent: 0.5in"><b>{{ account.num }}&nbsp;&nbsp;&nbsp;&nbsp;</b>{{ account.title }}</div>
            <div class="col-sm-1 text-right">PHP</div>
            <div class="col-sm-2 text-right">{{ account.outflow|abs|intcomma}} </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="row">
        <div class="col-sm-9">
          <p style="text-indent: 1in">Total</p>
        </div>
        <div class="col-sm-1 text-right">PHP</div>
        <div class="col-sm-2 text-right">{{ account_type.outflow|abs|intcomma }}</div>
      </div>
    {% endif %}
  {% endfor %}

  <div class="row"><b>
        <div class="col-sm-10"><p style="text-indent: 1in">Total Outflows</p></div>
        <div class="col-sm-2 text-right">{{ total_outflow|abs|intcomma }}</div>
    </b></div>

  <div class="row panel-body"></div>

  <div class="row"><b>
        <div class="col-sm-9"><b>Net Cash Flow</b></div>
  <div class="col-sm-1 text-right">PHP</div>
  <div class="col-sm-2 text-right">
    {% if net_flow < 0 %}
      ({{ net_flow|abs|intcomma }})
    {% else %}
      {{ net_flow|intcomma }}
    {% endif %}
    </div>
  </b></div>

  <div class="row">
    <div class="col-sm-10">Beginning Balance, {{ from }}</div>
    <div class="col-sm-2 text-right">
      {% if balance < 0 %}
        ({{ balance|abs|intcomma }})
      {% else %}
        {{ balance|intcomma }}
      {% endif %}
    </div>
  </div>

  <div class="row"><b>
    <div class="col-sm-9"><b>Ending Cash Balance</b></div>
    <div class="col-sm-1 text-right"> PHP </div>
    <div class="col-sm-2 text-right">
      {% if ending_cash < 0 %}
        ({{ ending_cash|abs|intcomma }})
      {% else %}
        {{ ending_cash|intcomma }}
      {% endif %}
    </div>
  </b></div>

  <div class="row panel-body"></div>

  {% comment %}
  <div class="row"><b>
          <div class="col-sm-12"><b>Classification of Ending Balance</b></div>
  </b></div>

  <div class="row">
    <div class="col-sm-9">Cash On Hand</div>
    <div class="col-sm-1 text-right">PHP</div>
    <div class="col-sm-2 text-right">{{ ending_cash|sub:in_bank|intcomma }}</div>
  </div>

  <div class="row">
    <div class="col-sm-10">Cash in Bank</div>
    <div class="col-sm-2 text-right">{{ in_bank|intcomma }}</div>
  </div>

  <div class="row"><b>
          <div class="col-sm-9"><b>Cash Balance, 31 October 2016</b></div>
  <div class="col-sm-1 text-right"> PHP </div>
  <div class="col-sm-2 text-right">{{ ending_cash|intcomma }}</div>
  </b></div>

  <div class="row panel-body"></div>
  {% endcomment %}

</div>

<hr>

<div class="text-right">
  {% crispy form %}
</div>

<div class="row panel-body"></div>

{% endwith %}

{% endblock %}
