{% load humanize %}
{% load mathfilters %}

<h4>Summary</h4>
<div class="row panel-body text-left">
    <!-- Define With Variables -->
    {% with net_flow=total_inflow|sub:total_outflow %}

    <p style="text-indent: 0.5in">You have received PHP {{ total_inflow|intcomma }} and disbursed PHP {{ total_outflow|intcomma }}. You currently have PHP {{ net_flow|intcomma }}.</p>
    <hr/>
    <p style="text-indent: 0.5in">The balance of {{ title }} account is PHP {{ total_title|intcomma }}.</p>
    <p style="text-indent: 0.5in">The balance of {{ type }} group of accounts is PHP {{ total_type|intcomma }}.</p>
    <hr/>
    <p style="text-indent: 0.5in">Test value: {{ test }}</p>

    {% endwith %}
    <!-- End Definition -->
</div>
{% comment %}{% if user.is_authenticated %}{% endcomment %}
<hr/>
<div class="row text-left pull-right">
    <a class="btn btn-primary" href="{% url 'inflow-add' %}" role="button">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> &nbsp; Add Inflow</a>
    <a class="btn btn-primary" href="{% url 'outflow-add' %}" role="button">
        <span class="glyphicon glyphicon-open" aria-hidden="true"></span> &nbsp; Add Outflow</a>
    {% comment %}{% if user.is_superuser %}{% endcomment %}
        <a class="btn btn-warning" href="{% url 'account-add' %}" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> &nbsp; Add Account</a>
    {% comment %}{% endif %}{% endcomment %}
</div>
{% comment %}{% endif %}{% endcomment %}