{% load humanize %}
{% load mathfilters %}

<h4>Summary</h4>

<div class="row panel-body text-left">
  <!-- Define With Variables -->
  {% with net_flow=total_inflow|sub:total_outflow total_money=balance|add:total_inflow|sub:total_outflow %}

  <p style="text-indent: 0.5in">
    You have received PHP&nbsp;{{ total_inflow|intcomma }} and disbursed PHP&nbsp;{{ total_outflow|intcomma }}. Your net cash flow is PHP&nbsp;{{ net_flow|intcomma }} and you currently have PHP&nbsp;{{ total_money|intcomma }}.
  </p>

  {% if test_mode %}
    <hr/>
    <p style="text-indent: 0.5in">The balance of {{ title }} account is PHP {{ total_title|intcomma }}.</p>
    <p style="text-indent: 0.5in">The balance of {{ type }} group of accounts is PHP {{ total_type|intcomma }}.</p>
    <hr/>
    <p style="text-indent: 0.5in">Test value: {{ test }}</p>
  {% endif %}

  {% endwith %}
  <!-- End Definition -->
</div>
